<!DOCTYPE html>
<html lang="en">
    <main>
        <div class="container pt-5">
            <h1>Delete a User by ID</h1>
            <p>Using the submit button we will send a DELETE request to the database and then display a success message. </p>
            <p>Delete will take the firebase ID and delete that item.</p>
         <div class="bg-light p-2 rounded border my-5">
          <h2>Delete Your User</h2>
            <form id="delete-form" action="/delete" method="POST">
              <div class="mb-3">
                <div class="mb-2">   <label for="input-id" class="form-label">ID:</label>
                  <input type="text" name="user[id]"></div>
                <input type="submit" value="Delete">
            </form>
         </div>
        </div>
    </main>
</body>
</html>