<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">
    <header><%- include('../partials/header'); %></header>

    <main>
        <div class="container">
            <h1>Welcome to Joe's Company Website!</h1>

            <h3>Homepage</h3>

            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum quis aliquet ligula. Nulla neque
                nibh, ornare vel vulputate ac, scelerisque varius nisi. Mauris suscipit, nisi ut consectetur mattis,
                est
                urna consequat tellus, eget auctor libero leo et augue. Maecenas gravida dolor et fringilla finibus.
                Fusce a urna dictum augue condimentum viverra. In sed odio vel tellus malesuada mollis ac nec justo.
                Sed
                nec orci mattis, mattis ante a, semper ligula. Nullam sit amet auctor ante, nec ultrices orci.
                Vestibulum condimentum purus et urna tempus mollis. Praesent pharetra mi eros, sit amet tristique
                odio
                scelerisque sed. Sed lorem odio, pretium nec maximus eu, commodo ut libero. Curabitur accumsan dui
                diam.
                Sed vitae lobortis augue, imperdiet blandit arcu. Quisque in magna sit amet justo viverra venenatis.
                Aenean sit amet hendrerit dolor.
            </p>
            <p>
                Cras eu rutrum nisi, in mattis augue. Curabitur pulvinar, neque vitae imperdiet congue, arcu magna
                consequat quam, sit amet suscipit enim urna sit amet magna. Nullam imperdiet id tellus at laoreet.
                Integer posuere egestas facilisis. Nam ut leo sit amet elit dignissim suscipit id id tortor. Donec
                ac
                euismod massa, vitae fringilla felis. Maecenas ut lectus tristique, tempus lorem quis, lacinia nibh.
            </p>
            <ul>
                <li>Item 1</li>
                <li>Item 2</li>
                <li>Item 3</li>
            </ul>
            <p>
                <a
                    href="https://docs.google.com/document/d/1EcsjEK9KwDvcsgIuTpryHa4OPXpmIVD9rYWM-zlhNmk/edit?usp=sharing">Link
                    to lab instructions</a>
            </p>
            <p>
                <a href="https://github.com/ronscode/SPA-Lab">Link to starter repository files</a>
            </p>
        </div>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
</body>

</html>