<!DOCTYPE html>
<html lang="en">
    <main>
        <div class="container pt-5">
            <h1>Update a User</h1>
            <p>Using the submit button we will send a PATCH request to the database and then display a success message. </p>
         <div class="bg-light p-2 rounded border my-5">
          <h2>Update Your User</h2>
            <form id="comment-form" action="/update" method="POST">
              <div class="mb-3">
                <div class="mb-2">  <label for="input-firstName" class="form-label">First Name:</label>
                  <input type="text" name="user[firstName]"></div>
                <div class="mb-2">   <label for="input-id" class="form-label">ID:</label>
                  <input type="text" name="user[id]"></div>
               <div class="mb-2"> <label for="input" class="form-label">Title:</label>
                  <input type="text-title" name="user[title]"></div>
                <input type="submit" value="Update User">
            </form>
         </div>
        </div>

    </main>
</body>
</html>